* {
  outline: 1px solid black;
  box-sizing: border-box;
  background-color: white;
}

html {
  background-color: gray;
}

#app {
  background-color: blue;
}

.container__bar {
  width: 90%;
  height: 25px;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 5px;
  border-radius: 10px;
}

.container__project {
  display: flex;
  width: 90%;
  margin: auto;
  margin-top: 20px;
  padding: 30px;
  height: 250px;
  border: none;
  border-radius: 30px;
}

.container__navegation-bar {
  width: 90%;
  height: 30px;
  margin: auto;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.container__perfile {
  width: 90%;
  height: 150px;
  margin: auto;
  margin-top: 25px;
  margin-bottom: 25px;
  padding: 10px;
  border-radius: 10px;
}