* {
	outline: 1px solid white;
}

.header {
	position: fixed;
	top: 0px;
	width: 100%;
	min-height: 5rem;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	align-items: center;
	padding: 1em 2em;

	& .h1 {
		& .a {
		}
	}

	& .nav {
	}

	& .ul {
		display: flex;
		flex-flow: row wrap;
		justify-content: space-between;
		align-items: center;
	}

	& .li {
		margin: 0 1em;
		& .a {
		}
	}
}

.profile-section {
	width: 100%;
	min-height: 10vh;
	margin-top: 15vh;
	padding: 2em;
	gap: 2rem;
	display: flex;
	flex-flow: row nowrap;
	& .h2 {
	}
	& .h3 {
	}
	& .profile-section-text {
		display: flex;
		flex-flow: column wrap;
		text-wrap: balance;
		justify-content: center;
		align-items: center;
	}
}

.main {
	margin: 1rem 0;
	& .aside {
		display: flex;
		flex-flow: row nowrap;
		justify-content: center;
		align-items: center;
		gap: 2rem;
	}
	& .projects-section {
		display: flex;
		flex-flow: column nowrap;
		justify-content: center;
		align-items: center;
		gap: 1rem;
		& .h2 {
		}

		& .grid {
			width: 90%;
			display: grid;
			grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
			gap: 1rem;

			& .article {
				width: 100%;
				min-height: 35vh;

				display: flex;
				flex-flow: column nowrap;
				justify-content: center;
				align-items: center;
				& .a {
					& .img {
					}
					& .h4 {
					}
				}
			}
		}
	}

	& .about-section {
		& .h1 {
		}
		& .p {
		}
	}
}
