.header {
	.nav {
		flex-grow: 1;
	}
	.h1 {
		flex-shrink: 1;
		justify-self: flex-start;
	}
	.header-menu {
		flex-shrink: 0;
		justify-self: flex-end;
	}
}

.profile-section {
	width: 90vw;
	display: flex;
	min-height: 100dvh;
	padding-top: 7rem;
	padding-inline: 2rem 2rem;
}
.main {
	width: 90vw;
	margin: auto;
	display: flex;
	flex-flow: column wrap;
	justify-content: center;
	align-items: center;
	min-height: 100dvh;
	padding-inline: 2rem 2rem;
}
.about-section {
	margin: auto;
	min-height: 100dvh;
	padding-top: 6rem;
	padding-bottom: 4rem;
	padding-inline: 2rem 2rem;
}
.footer {
	height: 5dvh;
}
