:root {
	--color-primary: #f8f0dd;
	--color-secondary: #010011;
	--color-palette--primary: #0c0e5dfb;
	--color-palette--secondary: #cdd46f;
	--color-palette--tertiary: #a45e2f;
	--color-palette--cuaternary: #431073;
	--font-family-primary: Teko, sans-serif;
	--font-family-secondary: Merienda, sans-serif;
}

@media (prefers-color-scheme: light) {
	:root {
		--color-primary: #010011;
		--color-secondary: #f0f0f0;
		--color-palette--primary: #a2abf7fb;
		--color-palette--secondary: #525707;
		--color-palette--tertiary: #984f1f;
		--color-palette--cuaternary: #792fc4;
	}
}

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	border: 0;
	box-sizing: border-box;
	vertical-align: baseline;
}
h1,
h2,
h3,
h4,
h5 {
	text-wrap: balance;
}

img,
picture,
video,
iframe,
figure {
	max-width: 100%;
	width: 100%;
	display: block;
}

a {
	display: block;
}
p a {
	display: inline;
}

li {
	list-style-type: none;
}

a:-webkit-any-link,
h1,
h2,
h3,
h4,
h5,
span,
p,
a strong,
blockquote,
i,
b,
u,
em {
	font-family: inherit;
	font-size: 1em;
	font-weight: inherit;
	font-style: inherit;
	text-decoration: none;
	color: inherit;
}
p {
	text-wrap: pretty;
}

blockquote::before,
blockquote::after,
q:before,
q:after {
	content: "";
	content: none;
}

::selection {
	background-color: var(--color-primary);
	color: var(--color-secondary);
}

form,
input,
textarea,
select,
button,
label {
	font-family: inherit;
	font-size: inherit;
	hyphens: auto;
	background-color: transparent;
	display: block;
	color: inherit;
}

table,
tr,
td {
	border-collapse: collapse;
	border-spacing: 0;
}
svg {
	display: block;
	fill: currentColor;
}
html {
	scroll-behavior: smooth;
	scrollbar-width: thin;
	scrollbar-color: var(--color-primary) var(--color-secondary);
	scroll-snap-type: proximity;
}

body {
	min-height: 100dvh;
	font-size: 100%;
	color: var(--color-primary);
	background: linear-gradient(
		109.6deg,
		rgb(46, 51, 100) 14.2%,
		var(--color-palette--primary) 40.2%,
		rgb(49, 49, 86) 90%
	);
	@media (prefers-color-scheme: light) {
		background: linear-gradient(
			109.6deg,
			rgb(138, 142, 255) 11.2%,
			var(--color-palette--primary) 47.2%,
			rgb(121, 134, 255) 100%
		);
	}
	line-height: 100%;
	font-family: var(--font-family-primary);
}
