:root {
	--color-primary: #b2aceb;
	--color-secondary: #080072;
	--color-palette--primary: #00039bfb;
	--color-palette--secondary: #999e58;
	--color-palette--tertiary: #ff6600;
	--color-palette--cuaternary: rgb(140, 81, 196);
	--font-family-primary: "Neuton", sans-serif;
	--font-family-secondary: "Genos", sans-serif;
	--font-family-logo: "MedievalSharp", sans-serif;
}

.neuton-extralight {
	font-family: "Neuton", serif;
	font-weight: 200;
	font-style: normal;
}

.neuton-light {
	font-family: "Neuton", serif;
	font-weight: 300;
	font-style: normal;
}

.neuton-regular {
	font-family: "Neuton", serif;
	font-weight: 400;
	font-style: normal;
}

.neuton-bold {
	font-family: "Neuton", serif;
	font-weight: 700;
	font-style: normal;
}

.neuton-extrabold {
	font-family: "Neuton", serif;
	font-weight: 800;
	font-style: normal;
}

.neuton-regular-italic {
	font-family: "Neuton", serif;
	font-weight: 400;
	font-style: italic;
}

.genos {
	font-family: "Genos", sans-serif;
	font-optical-sizing: auto;
	font-weight: 400;
	font-style: normal;
}
.medievalsharp-regular {
	font-family: "MedievalSharp", cursive;
	font-weight: 400;
	font-style: normal;
}

/*g
family=Cormorant
family=MedievalSharp
famil
family=Teko
family=Neuton
serif para textos de lectura
sans serif para titulos y letras grandes
*/
@media (prefers-color-scheme: light) {
	:root {
		--color-primary: #05013b;	
		--color-secondary: #9c9ba6;
		--color-palette--primary: #9baffffb;
		
	}
}

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	border: 0;
	box-sizing: border-box;
	vertical-align: baseline;
}
h1,
h2,
h3,
h4,
h5 {
	text-wrap: balance;
}

img,
picture,
video,
iframe,
figure {
	max-width: 100%;
	width: 100%;
	display: block;
}

a {
	display: block;
}
p a {
	display: inline;
}

li {
	list-style-type: none;
}

a:-webkit-any-link,
h1,
h2,
h3,
h4,
h5,
span,
p,
a strong,
blockquote,
i,
b,
u,
em {
	font-family: inherit;
	font-weight: inherit;
	font-style: inherit;
	line-height: 100%;
	text-decoration: none;
	color: inherit;
}
p {
	text-wrap: pretty;
}

blockquote::before,
blockquote::after,
q:before,
q:after {
	content: "";
	content: none;
}

::selection {
	background-color: var(--color-primary);
	color: var(--color-secondary);
}

form,
input,
textarea,
select,
button,
label {
	font-family: inherit;
	font-size: inherit;
	hyphens: auto;
	background-color: transparent;
	display: block;
	color: inherit;
}

table,
tr,
td {
	border-collapse: collapse;
	border-spacing: 0;
}
svg {
	display: block;
	fill: currentColor;
}

html {
	scroll-behavior: smooth;
	scrollbar-width: thin;
	scrollbar-color: var(--color-primary) var(--color-secondary);
	scroll-snap-type: proximity;
}

body {
	min-height: 100dvh;
	
	color: var(--color-primary);
	background: linear-gradient(
		109.6deg,
		rgb(24, 51, 138) 14.2%,
		var(--color-palette--primary) 40.2%,
		rgb(13, 47, 125) 90%
	);
	@media (prefers-color-scheme: light) {
		background: linear-gradient(
			109.6deg,
			rgb(165, 207, 255) 11.2%,
			var(--color-palette--primary) 47.2%,
			rgb(158, 219, 255) 100%
		);
	}
	font-family: var(--font-family-primary);
}
