@import url('https://fonts.googleapis.com/css2?family=Sono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sono:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merienda:wght@300..900&family=Sono:wght,MONO@600,0..1&display=swap');

:root {
  --color-primary: #0000A0;
  --color-secondary: #014401AA;
  --color-tertiary--primary: #47234760;
  --color-tertiary--secondary: #AA903060;
  --color-opposite--primary: #C4712460;
  --bg-primary: #04001b;
  --bg-secondary--primary: #00200050;
  --bg-tertiary--primary: #30103050;
  --text-color--dark-mode: #ffe;
  --text-color--dark-mode--secondary: #40cc50;
  --text-color--light-mode: #113;
  --font-family--main: Sono, sans-serif;
}