@import url('https://fonts.googleapis.com/css2?family=Sono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sono:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merienda:wght@300..900&family=Sono:wght,MONO@600,0..1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Junge&family=Merienda:wght@300..900&family=Sono:wght,MONO@600,0..1&display=swap');
:root {
  --color-primary: #0000a7;
  --color-secondary: #035a03;
  --color-tertiary--primary: #580e5860;
  --color-tertiary--secondary: #88701960;
  --color-opposite--primary: #a65b1660;
  --bg-primary: #04001b;
  --bg-secondary--primary: #00200050;
  --bg-tertiary--primary: #30103050;
  --text-color--dark-mode: #ffe;
  --text-color--dark-mode--secondary: #40cc50;
  --text-color--light-mode: #113;
  --font__main: Junge, sans-serif;
  --font__bold: Sono, sans-serif;
  --font__title: Merienda, sans-serif;
}